.project {
	display:inline-block;  
    position:relative;
	width: 370px;
	background-color: var(--blackpure);
	box-shadow: var(--box-shadow);
}

.project__img {
	border-radius: 30px;
	height: 370px;
	width: 370px;
	align-items: center;
	filter: brightness(30%);	
}

.project__title {
	display:block;
    position:absolute;
	left: 85px;
	max-width: 220px;
	font-weight: bold;
	top:180px;
    font-size: 22px;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
	color: var(--project-card-text);
	text-align: center;
}
